@import url(../../vendor/normalize.css);
/*fonts*/
@import url(../../fonts/fonts.css);

/* * {
  border: 0.5px solid red;
} */

body {
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* .montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

/* :root {
  --main-background: rgba(217, 217, 217, 1); /* var(--main-background)
} */

/*плавная прокрутка*/
/* html {
  scroll-behavior: smooth;
} */

.page {
  background-color: var(--main-background);
  width: 100vw;
  height: 100vh;
}

p,
a,
h1,
h2,
h3,
h4,
article,
button,
input,
label,
span {
  margin: 0;
  padding: 0;
}

/*стили автозаполнения*/
:-webkit-autofill,
:-webkit-autofill:hover, 
:-webkit-autofill:focus {
  border-bottom: 2px solid var(--blue); /*TODO поменять цвет*/
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--main-background) inset;
  transition: background-color 5000s ease-in-out 0.2s;
}

input:focus {
  border-bottom: 2px solid var(--blue);  /*TODO поменять цвет*/
}

/*стилизация кнопок при наведении*/
button:enabled { /*до модификации*/
  transition: all 0.5s linear;
  cursor: pointer;
}

button:enabled:hover { /*по наведению*/
  opacity: 0.8;
}

button:disabled { /*не активна*/
  background-color: gray;
  color: var(--middle-grey); /*TODO поменять цвет*/
}

/*стилизация линков при наведении*/
:any-link:hover {
  font-weight: 500;
  cursor: pointer;
}

:any-link {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}